body {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    border: 1px solid grey;
    border-radius: 5px;
}

textarea {
    border: 1px solid grey;
    border-radius: 5px;
    height: 100px;
    width: 100%;
}

#email {
    width: 100%;
}

#first_name, #last_name {
    width: 100%;
}

#title {
    font-weight: 700;
    font-size: x-large;
}

.footer {
    display: flex;
    justify-content: space-between;
}